* {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  
  .header {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .menu li {
    float: left;
  }
  
  .menu li a {
    display: block;
    color: #3f71b2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  .menu li a:hover {
    color: white;
    background-color: #1754a3;
    border-radius: 50px;
  }
  
  /* --------------------------------------------------------------------------- */
  .main__panal {
    width: 100%;
    height: 70vh;
    background-color: #1754a3;
    background-image: url("../img/Group__148.png");
    background-position: 50px;
    background-size: cover;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
  }
  .main__doc{
    background-color: #f1f1f1;
  padding: 10px;
  flex: 40%;
  }
  .main__image{
    background-color: dodgerblue;
    padding: 10px;
    flex: 50%;
  }
 