@media all and (max-width: 425px){
    .menu{
        display: none;
    }
}
@media all and (min-width: 425px) and (max-width: 768px) {
    .menu{
        display: none;
    }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
    .menu{
        display: none;
    }
}
@media all and (min-width: 1024px) and (max-width: 1440px) {
    .menu{
        display: none;
    }
}
@media all and (min-width: 1440px) and (max-width: 2560px) {
   
}