 * {
     margin: 0;
     padding: 0;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 header {
     width: 100%;
     height: 160px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 header>div {
     width: 90%;
     height: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .logo {
     width: 205.73px;
     height: 103.84px;
     margin-left: 53px;
     background-image: url("../img/Group 27.png");
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
 }

 .menu {
     width: 50px;
     height: 50px;
     background-image: url("../img/menu.png");
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
 }

 .menu_list {
     height: 44px;
 }

 .menu_list ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
 }

 .menu_list li {
     float: left;
     padding-right: 51px;
 }

 .menu_list li a {
     display: block;
     color: #3f71b2;
     text-align: center;
     padding: 14px 20px;
     text-decoration: none;
 }

 .menu_list li a:hover {
     color: white;
     background-color: #1754a3;
     border-radius: 50px;
 }
 /* ------------------------------------------------------ */
 main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 .menu__section{
    width: 90%;
    height: 802px;
    background-color: #1754A3;
    background-image: url("../img/Group 148.png");
    background-position: 140px;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.main__image{
    position: relative;
    right: 0;
    top: -0.95%;
}
.main__para{
    font-size: 60px;
    font-weight: bold;
    color: #45A2DC;
    margin-top: -20px;
}
.menu__des{
    width: 918px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main__second__para{
    font-size: 14px;
    color: white;
}
.second__para{
    width: 710px;
    height: 70px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.main__button{
    width: 403px;
    height: 75px;
    background-color: #45A2DC;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 20px;
}
.main_button_div{
    width: 623px;
    height:120px;
    display: flex;
    align-items: center;
}
/* ------------------------------------------------------------------- */
.about{
    width: 90%;
    height: 882px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.about_image{
    width: 1031px;
    height: 666px;
    background-image: url("../img/Mask Group 1.png");
}
.about_des{
    position: relative;
    width: 35%;
    height: 666px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}
.about_des h1,h2{
    color: #1754A3;
    font-weight: bold;
}
.about_des h1{
    font-size: 100px;
}
.about_des h2{
    font-size: 73px;
}
.about_des p{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.button_about{
    position: relative;
    left: -32%;
    bottom: 0;
}
.image{
    position: absolute;
    opacity: 0.5;
    width: 100%;
    left: 0;
    right: 0;
    top: -35%;
}
.teachers{
    height: 277px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.teachers_panal{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lorem_panal{
    width: 60%;
    height: 100%;
    background-color: #45A2DC;
    display: flex;
    justify-content: center;
}
.teachers_panal h1,p{
    color: #1754A3;
}
.teachers_panal h1{
    font-size: 100px;
}
.teachers_panal p{
    font-size: 36px;
}